body {
  padding: 0 4px 0 20px;
  margin: 0 0 0 12px;
  font-family: 'Noto Sans', メイリオ, 'MS UI Gothic', Arial;
  font-size: 0.9em;
  overflow: hidden;
}
.header {
  width: 100%;
  padding: 12px 25px 47px 0;
  background-color: #FFF;
}
.footer {
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.0)), to(rgba(255,255,255,1.0)));
}
.header div.h1 {
  position: fixed;
  top: -1px;
  left: 37px;
  padding: 4px;
  font: 14px 'Michroma', Arial;
  color: #FFFFFF;
  background: rgb(31, 98, 129);
  border-radius: 1px;
}
.header div.h1 div {
  line-height: 1.0em;
}
.beta {
  font-family: 'Noto Sans', Arial;
}
.addKeyConfig {
  margin: 5px;
  margin-right: 20px;
  float: right;
}
.kbdtype, .scHelp {
  margin: 8px;
  float: right;  
}
.header a {
  display: inline-block;
}
.keyConfigSetView {
  padding-bottom: 30px;
}
.fixed-table-container {
  position: relative;
  padding-top: 30px;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF; /* #243655 */
  border-bottom: 1px solid #DDDDDD;
  height: 30px;
}
.fixed-table-container-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 100px;
}
.keyConfigSetView th {
  border: 0;
  font-weight: normal;
}
tbody tr:hover {
  background: rgb(245,245,255);
}
.th_inner {
  position: absolute;
  top: -1px;
  line-height: 30px;
  background: #FFFFFF;
}
.keyConfigSetView .th_inner.options {
  padding-left: 6px;
}
.keyConfigSetView .th_inner.desc {
  padding-left: 0;
}
.th_inner.blank {
  top: 0;
  background: #FFF;
  padding: 0 12px;
  right: 0;
}
.proxy, .origin {
  color: #518BAB;
  min-width: 80px;
  white-space: nowrap;
  font: 1.2em 'Arial';
  outline: 0;
  padding: 4px;
  display: inline-block;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  border-radius: 5px;
}
.proxy.assignOrg span {
  color: #000000;
}
.proxy.simEvent span {
  color: #00AA00;
}
.origin.simEvent, .icon-arrow-right.simEvent {
  display: none;
}
.proxy.disabled span {
  color: #CC0000;
}
.proxy.through span {
  color: #333333;
  background: #DDDDDD;
}
.origin.disabled, .icon-arrow-right.disabled {
  display: none;
}
.origin.through, .icon-arrow-right.through {
  display: none;
}
.origin.bookmark, .icon-arrow-right.bookmark {
  display: none;
}
.proxy:not(:focus):hover span, .origin.assignOrg:not(:focus):hover span {
  box-shadow: 0 0 4px #6DB9FF;
  border: 1px solid #50B1FE;
}
.proxy:focus span, .origin.assignOrg:focus span {
  box-shadow: 0 0 7px #6DB9FF;
  border: 1px solid #50B1FE;
  background: #FFFFFF;
}
.proxy span, .origin span {
  padding: 1px 3px;
  border: 1px solid lightblue;
  border-radius: 3px;
  min-width: 24px;
  display: inline-block;
  text-align: center;
  margin: 0px 1px;
  font-family: verdana;
}
.proxy span {
  /* color: #518BAB; */
  font-weight: bold;
}
.origin span {
  color: #000000;  
}
.addnew td {
  padding-top: 10px;
  background: #FFFFFF;
  border: 0;
}
div.addnew:focus {
  margin-top: 5px;
  box-shadow: 0 0 7px #6DB9FF;
  border: 1px solid #50B1FE;
  background: #FFFFFF;
  font-weight: normal;
  color: #999999;
}
.keyConfigSetView td.options {
  padding-left: 11px;
  white-space: nowrap;
  position: relative;
}
.selectMode {
  position: absolute;
  z-index: 2;
  display: none;
  border: 1px solid #999999;
  background: #FFFFFF;
  outline: none;
  box-shadow: 0 0 7px #6DB9FF;
  border: 1px solid #50B1FE;
}
.selectMode div {
  padding: 3px 5px;
  font-family: 'Arial';
  cursor: default;
}
.selectMode div:hover {
  background: #EEEEEE;
}
div.mode {
  font-family: 'Arial';
  cursor: pointer;
  margin-bottom: 3px;
  padding-left: 6px;
}
div.mode i {
  margin-left: 4px;
  font-size: 1.1em;
  color: rgba(0,0,0,0);
}
div.mode.assignOrg:hover {
  color: 333;
}
div.mode:hover i {
  color: 333;
}
div.mode.assignOrg.selecting {
  color: 333;
}
div.mode.selecting i {
  color: 333;
}
.mode.assignOrg {
  color: #CCCCCC;
}
.origin .assignOrg {
  color: #000000;
}
.options .simEvent {
  color: #00AA00;
}
.options .disabled {
  color: #CC0000;
}
.options .through {
  color: gray;
}
.options .bookmark {
  color: #518BAB;
}
i.icon-arrow-right {
  color: #518BAB;
}
th i.icon-arrow-right {
  margin: 2px;
}
.keyConfigSetView td {
  padding: 4px 5px;
}
.keyConfigSetView .tdOrigin {
  padding-right: 12px;
}
.keyConfigSetView .desc {
  width: 80%;
  padding-left: 10px;
}
.keyConfigSetView .desc .sectInit {
  background: rgb(122, 122, 160);
  border-radius: 3px;
  color: white;
  padding: 0 3px;
  margin-right: 3px;
  font-size: 12px;
  width: 17px;
  height: 17px;
  text-align: center;
  cursor: default;
  float: left;
}
.keyConfigSetView .desc .content {
  overflow: auto;
}
.keyConfigSetView .desc .icon-star {
  color: gold;
  margin: 0 5px 0 2px;
}
.keyConfigSetView .desc div:first-child {
  float:left;
}
.keyConfigSetView .desc div:last-child {
  overflow: auto;
}
.keyConfigSetView .desc .icon-pencil {
  font-size: 18px;
  float: left;
  cursor: pointer;
  color: rgba(0,0,0,0);
  margin-right: 4px;
}
.keyConfigSetView .desc:hover .icon-pencil {
  color: #999999;
}
.keyConfigSetView .desc .icon-pencil:hover {
  color: #000000;
}
.keyConfigSetView .desc form.memo {
  display: none;
}
.keyConfigSetView .desc input.memo {
  font-family: 'Noto Sans', メイリオ, 'MS UI Gothic', Arial;
  width: 90%;
  /*
  border: 0;
  box-shadow: none;
  background: rgba(0,0,0,0);
  */
}
.keyConfigSetView .remove {
  text-align: right;
  padding-right: 8px;
}
.keyConfigSetView .blank {
  border: 0;
  background: #FFF;
  padding: 0 12px;
}
.icon-remove {
  float: right;
  cursor: pointer;
  color: #ccc;
}
.icon-remove:hover {
  color: #666;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(0,0,0,.0);
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3);
}
.custom-scroll-bar::-webkit-scrollbar, .custom-scroll-bar::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 1px;
}
.custom-scroll-bar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.bookmarks {
  display: none;
  position: fixed;
  z-index: 100;
  width: 600px;
  padding: 20px;
  background: WhiteSmoke;
  box-shadow: 0 0 20px black;
  border-radius: 1px;
}
.bookmarks form {
  padding-bottom: 5px;
}
.bookmarks .icon-remove {
  float: right;
  cursor: pointer;
  font-size: 18px;
}
.bookmarks .result_outer {
  overflow: auto;
}
.bookmarks .result {
  white-space: nowrap;
  padding-bottom: 15px;
}
.bookmarks input.query {
  margin-left: 5px;
}
.bookmarks button.query {
  margin-left: 5px;
}
.bookmarks .icon-folder-open {
  color: rgb(255, 216, 0);
}
.backscreen {
  display: none;
  position: absolute;
  z-index: 99;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}