body {
  padding: 0 4px 0 20px;
  margin: 0 0 0 12px;
  font-family: 'Noto Sans', メイリオ, 'MS UI Gothic', Arial;
  font-size: 0.9em;
  overflow: hidden;
}
.header {
  width: 100%;
  padding: 12px 25px 52px 0;
  background-color: #FFF;
}
.footer {
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.0)), to(rgba(255,255,255,1.0)));
}
.header div.h1 {
  position: fixed;
  top: 0;
  left: 37px;
  padding: 4px;
  font: 14px 'Michroma', Arial;
  color: #FFFFFF;
  background: rgb(31, 98, 129);
}
.header div.h1 div {
  line-height: 1.0em;
}
.beta {
  font-family: 'Noto Sans', Arial;
}
.addKeyConfig {
  margin: 5px;
  margin-right: 20px;
  float: right;
}
.kbdtype, .scHelp {
  margin: 8px;
  float: right;  
}
.keyConfigSetView {
  padding-bottom: 30px;
}
.fixed-table-container {
  position: relative;
  padding-top: 30px;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF; /* #243655 */
  height: 30px;
}
.fixed-table-container-inner {
  height: 100%;
  overflow: auto;
  padding-bottom: 80px;
}
.keyConfigSetView th {
  border: 0;
  font-weight: normal;
}
tbody tr:hover {
  background: rgb(245,245,255);
}
.check1, .check2, .check3 {
  position: absolute;
  top: -130px;
}
.canvasHeight {
  top: -130px;  
}
.th_inner {
  position: absolute;
  top: 0;
  line-height: 30px;
}
.th_inner.blank {
  background: #FFF;
  padding: 0 12px;
  right: 0;
}
.th_inner.assignOrg {
  color: #000080;
  top: -60px;
}
.th_inner.simEvent {
  color: #00AA00;
  top: -40px;
}
.th_inner.disable {
  color: #CC0000;
  top: -20px;
}
.proxy, .origin {
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  min-width: 80px;
  white-space: nowrap;
  font: 1.2em 'Arial';
  outline: 0;
  border-radius: 5px;
  padding: 4px;
  display: inline-block;
}
.proxy:focus, .origin:focus {
  background: #FFFFFF;
  box-shadow: 0 0 7px #6DB9FF;
  border: 1px solid #50B1FE;
}
.proxy {
  font-weight: bold;
}
.proxy.assignOrg {
  color: #000000;
}
.proxy.simEvent {
  color: #00AA00;
}
.origin.simEvent, .icon-double-angle-right.simEvent {
  color: rgba(0,0,0,0);
  cursor: default;
}
.proxy.disabled {
  color: #CC0000;
}
.origin.disabled, .icon-double-angle-right.disabled {
  color: rgba(0,0,0,0);
  cursor: default;
}
.proxy:not(:focus):hover {
  text-decoration:underline;
}
.origin.assignOrg:not(:focus):hover {
  color: #0000FF;
  text-decoration:underline;
}
div.addnew:focus {
  font-weight: normal;
  color: #999999;
}
.mode.assignOrg {
  color: #CCCCCC;
}
.mode.simEvent {
  color: #00AA00;
}
.mode.disabled {
  color: #CC0000;
}
.mode option[value='assignOrg'] {
  color: #000000;
}
.mode option[value='simEvent'] {
  color: #00AA00;
}
.mode option[value='disabled'] {
  color: #CC0000;
}
.widthTester {
  position: absolute;
  top: -1000px;
  box-shadow: none;
}
th i.icon-double-angle-right {
  margin: 8px;
}
td i.icon-double-angle-right {
  font-size: 16px;
}
.keyConfigSetView td {
  padding: 4px 5px;
}
.keyConfigSetView .tdOrigin {
  padding-right: 12px;
}
.keyConfigSetView .chkItem {
  padding: 5px 7px;
}
.keyConfigSetView .desc {
  width: 80%;
  padding-left: 15px;
}
.keyConfigSetView .desc .sectInit {
  background: rgb(122, 122, 160);
  border-radius: 3px;
  color: white;
  padding: 0 3px;
  margin-right: 3px;
  font-size: 12px;
  width: 17px;
  height: 17px;
  text-align: center;
  cursor: default;
  float: left;
}
.keyConfigSetView .desc .content {
  overflow: auto;
}
.keyConfigSetView .remove {
  text-align: right;
  padding-right: 8px;
}
.keyConfigSetView .blank {
  border: 0;
  background: #FFF;
  padding: 0 12px;
}
.checkbox {
  cursor: pointer;
  border: 1px dotted rgba(0,0,0,0);
  padding: 2px;
}
.checkbox:hover {
  border: 1px dotted #c96;
  border-radius: 2px;
}
.icon-ok {
  color: #EEE;
}
.assignOrg.hilite {
  color: #000080;
}
.icon-ok.simEvent.hilite {
  color: #00AA00;
}
.icon-ok.disabled.hilite {
  color: #CC0000;
}
.icon-remove {
  float: right;
  cursor: pointer;
  color: #ccc;
}
.icon-remove:hover {
  color: #666;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(0,0,0,.0);
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3);
}
.custom-scroll-bar::-webkit-scrollbar, .custom-scroll-bar::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 1px;
}
.custom-scroll-bar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
